.search-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #f6f6f6;
    transition: all 0.25s;
}

.search-panel:hover {
    box-shadow: 3px 3px 15px #000;
}

.search-panel:focus-within {
    background: #f1f1f1;
}

.search-input-field {
    width: 30rem;
    padding: 10px;
    font-size: 1rem;
    outline: none;
    border: none;
    background: transparent;
}

.search-input-field::placeholder,
.search-button {
    color: rgba(0, 0, 0, 0.25);
}

.search-button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    transition: all 0.1s;
}

.search-button:hover {
    transform: scale(1.2);
}